.p1 {
    background: #163A24;



    .container {
        display: flex;
        align-items: center;

        div {
            h1 {
                font-family: 'Recoleta';
                font-style: normal;
                font-weight: 600;
                font-size: 48px;
                line-height: 65px;
                color: #FBFAF7;
                max-width: 391px;
                margin-bottom: 18px;
                margin-top: 120px;
            }

            p {
                font-family: 'Noto Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 27px;
                color: #FBFAF7;
                max-width: 475px;
            }
        }
    }
}